<div *ngIf="clients">
    <div *ngFor="let client of clients">
        {{client.name}}
        <!-- <button class="" (click)="deleteClient(client.id)">Delete</button> -->
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Logo</th>
            <th scope="col">Name</th>
            <th scope="col">Url</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @for (client of clients; track client.name; let i = $index) {
        <tr>
            <th scope="row">{{ i + 1 }}</th>
            <td>
                <!-- <img [src]="" + client.flag" [alt]="" class="me-2" style="width: 20px" /> -->
                {{ client.name }}
            </td>
            <td>{{ client.name  }}</td>
            <td>{{ client.logo  }}</td>
            <td>
                <button (click)="deleteClient(client.id)" class="btn btn-warning" type="submit">Delete</button>
            </td>
        </tr>
        }
    </tbody>
</table>